# ==============================================================================
# Binaries and Compiled Artifacts
# ==============================================================================
/tuicam
/termicam
/bin/
/dist/

# Platform-specific executable extensions
*.exe
*.exe~
*.dll
*.so
*.dylib

# ==============================================================================
# Images used for testing and other purposes
# ==============================================================================
*.png
*.jpg
*.jpeg
*.tcam

# ==============================================================================
# Test and Coverage Artifacts
# ==============================================================================
*.test

# Code coverage profiles and other test artifacts
*.out
*.coverprofile
*.cov
coverage.*

# ==============================================================================
# Go Workspaces and Dependency Management
# ==============================================================================
go.work
go.work.sum

# ==============================================================================
# Environment / Secret Files
# ==============================================================================
.env
*.env
.env.local

# ==============================================================================
# Editors and IDEs
# ==============================================================================
.idea/

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json

# ==============================================================================
# OS Clutter and Temp Files
# ==============================================================================
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# Linux / Vim swap files
*~
*.swp
*.swo
